{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <div id="app">
        <span v-if="seen">Now you see me</span>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}
